*.pyc
*.pyo
*.pyd
.DS_Store
.idea
weights
build/
*.egg-info/
gradio_cached_examples
# 忽略数据集和输出结果
chem_hova_dataset/
synthetic_affordance_dataset/
synthetic_affordance_dataset_smoke/
affordance_runs/
affordance_outputs/
affordance_annotation/
real_dataset/

# 忽略本地临时配置文件和 PDF、PPT
.vscode/
.codex
*.pdf
*.pptx